.left{
	background-color:rgb(250, 249, 249);
	display:inline-block;
	width:65%;
	height:100vh;
	float:right;
}
.right{	
	display:inline-block;
	width:35%;
	float:left;
	margin-top:100px;
	background-color: #faf9f9;
}
.background{
	display:fixed;
	margin-top:100px;
	margin-left: 60px;
	height:200px;
	color: #faf9f9;
}
.bg-color{
	background-color:#faf9f9;
}
.login-form{
	margin-top:10px;
	margin-left:20px;
	margin-right:20px;
	background-color: #faf9f9;
}
.logo-kolna-motard{
    margin-top: -100px;
    background-color: #faf9f9;
	text-align: center;
}
.image-kolna-motard{
	background-color: #faf9f9;
	position: fixed;
	width: 70%;
}
.div-form{
	background-color: #faf9f9;
}
.category li{
    margin-top:20px;
    background-color: #d2691e;
    list-style: none;
    padding: 30px 0px 30px 0px;
    
}
.category {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}
.category:hover {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}
.category li:hover{
    background-color:rgb(4, 196, 4);
}
	.logo-koulna{
		margin-top:50px;
	}
@media (max-width:400px){
	.background{
		display:none;
	}
	.left{
		display:none;
	}
	.login-form{
		margin-top:5px;
	}
	.input-login{
		width:100%;
	}
	.right{
	
	width:100%;	
	height:100%;
	
	}
	.logo-koulna{
		position:relative;
		left:80px;
	}
}
@media (max-width:1024px){
	
	
	.login-form{
		margin-top:10px;
	}
	.input-login{
		width:100%;
	}
	.left{
		display:none;
	}
	.right{
		height:100%;
	width:100%;

	
	}
	.logo-koulna{
		position:relative;
		left:00px;
		width:500px;
		height:500px
	}
	.background{
	display:none;
	}
	.form-label{
		font-size:20px;
	}
}
@media (max-width:1400px){
	.logo-koulna{
		position:relative;
		left:250px;
		
	}
	.background{
		margin-left: 0px;
		height:50px;
		width:60px
		}
}
@media (min-width:100px){
	.logo-koulna{
		position:relative;
		left:100px;
		width:200px;height:200px;
		
	}
    .category{
        position:relative;
        left:-8px;
    }
}
@media (min-width:800px){
	.logo-koulna{
		position:relative;
		left:270px;
		width:200px;height:200px;
		
	}
}
@media (min-width:1000px){
	.logo-koulna{
		position:relative;
		left:300px;
		width:400px;height:400px;
		
	}
}
@media (min-width:1300px){
	.logo-koulna{
		position:relative;
		left:90px;
		width:300px;height:300px;
		
	}
	.background{
		margin-left: 0px;
		size:200px;
		}
}
@media (min-width:1800px){
	.logo-koulna{
		position:relative;
		left:160px;
		width:300px;height:300px;
		
	}
    .left{
		height:200vh;
    }

	.background{
		margin-left: 40px;
        position:fixed;
		
		}
}
1